.medium {
  display: inline-flex;
  max-height: 4.6rem;
  height: 4.6rem;
  padding: var(--spacing-s-3, 1.2rem) var(--spacing-s-5, 2rem);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-s-2, 0.8rem);
  flex-shrink: 0;
  border-radius: var(--border-b-rad-6, 3rem);
  transition: all .3s;
  box-sizing: border-box;
}

.medium > span {
  color: var(--light-color, #FFF);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.01rem;
}

.medium.primary {
  background: var(--border-color);
}

.medium.primary > span {
  color: var(--light-color);
}

.medium.primary:hover {
  background: var(--btn-hover);
}

.medium.primary:hover > span {
  color: var(--light-color);
}

.medium.secondary {
  background: var(--light-color);
}

.medium.secondary > span {
  color: var(--text-color);
}

.medium.secondary:hover {
  background: #F7F7F8;
}

.medium.secondary:hover > span {
  color: #4D596A;
}

.medium.tertiary {
  background: var(--light-color);
}

.medium.tertiary > span {
  color: var(--btn-text-color);
}

.medium.tertiary:hover {
  background:#F7F7F8;
}

.medium.tertiary:hover > span {
  color: #003AB8;
}

.medium.outline {
  border: .2rem solid #EDEFF2;
  background: var(--light-color);
}

.medium.outline > span {
  color: var(--text-color);
}

.medium.outline:hover {
  border: .2rem solid #D8DEE6;
  background: #F7F7F8;
}

.medium.outline:hover > span {
  color: #4D596A;
}

.medium.delete {
  border: inset .2rem solid var(--y-btn-danger-border, #F42D2D);
  background: var(--y-btn-danger-bg, #F42D2D);
}

.medium.delete > span {
  color: var(--y-text-inverse, #FFF);
}

.medium.delete:hover {
  border: inset .2rem solid var(--y-btn-danger-hover-bg, #C00);
  background: var(--y-btn-danger-hover-bg, #C00);
}

.medium.delete:hover > span {
  color: var(--y-text-inverse, #FFF);
}

.medium.disabled {
  border-radius: var(--border-b-rad-6, 3rem);
  background: var(--y-btn-generic-disabled-bg, #EDEFF2);
}

.medium.disabled > span {
  color: var(--y-btn-generic-disabled-text, #A0A2A7);
}