.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  width: 100dvw;
  max-width: 100dvw;
  padding: 0;
}

.container {
  display: flex;
  flex: 1 0 0;
  align-self: stretch;
  color: var(--light-color);
  max-width: 120rem;
}
